[Desktop Entry]
Name=Vim
Exec=xfce4-terminal -T "Vim" -I "/usr/share/icons/Faenza/apps/scalable/vim.svg" -x vim %f
Icon=/usr/share/icons/Faenza/apps/scalable/vim.svg
Terminal=false
Type=Application
Categories=Utility;Development;
