[Unit]
Description=Battery tray icon
Requires=panel.service
After=panel.service
PartOf=user-graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/battyicon

[Install]
WantedBy=user-graphical.target
