[Unit]
Description=Battery tray icon

[Service]
Type=simple
ExecStart=/usr/bin/cbatticon -i notification -l 10 -r 2

[Install]
WantedBy=user-graphical.target
#Requires=tint2.service
#After=tint2.service
