[Unit]
Description=Battery tray icon

[Service]
Type=simple
Environment=CONFIG="-i symbolic -l 10 -r 2"
ExecStart=/usr/bin/cbatticon $CONFIG

[Install]
WantedBy=user-graphical.target
