[Unit]
Description=Desktop compositor

[Service]
Type=simple
Environment=CONFIG="/home/dino/.config/compton/compton.conf"
ExecStart=/usr/bin/compton --config ${CONFIG}

[Install]
WantedBy=user-graphical.target
