[Unit]
Description=Music Player Daemon
PartOf=user-graphical.target

[Service]
Type=notify
ExecStart=/usr/bin/mpd --systemd

[Install]
WantedBy=user-graphical.target
