[Unit]
Description=MPD scrobbler
Requires=mpd-custom.service
After=mpd-custom.service
PartOf=user-graphical.target
BindsTo=user-graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/mpdas

[Install]
WantedBy=user-graphical.target
