[Unit]
Description=Dynamic window manager actions

[Service]
Type=simple
ExecStart=/usr/bin/orcsome
Restart=on-failure

[Install]
WantedBy=user-graphical.target
