[Unit]
Description=Wallpaper setter

[Service]
Type=oneshot
EnvironmentFile=%h/.config/swaybg/config
ExecStart=/usr/bin/swaybg -i "$background"
RemainAfterExit=True

[Install]
WantedBy=user-graphical.target
