[Unit]
Description=Wallpaper setter for Wayland
PartOf=user-graphical.target

[Service]
Type=simple
EnvironmentFile=%h/.config/swaybg/config
ExecStart=/usr/bin/swaybg -i "$background"

[Install]
WantedBy=user-graphical.target
