[Unit]
Description=Volume tray icon

[Service]
Type=simple
ExecStart=/usr/bin/volumeicon

[Install]
WantedBy=user-graphical.target
#Requires=tint2.service
#After=tint2.service
