[Unit]
Description=Waybar taskbar
Conflicts=xfce4-panel.service tint2.service
PartOf=user-graphical.target
BindsTo=user-graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar

[Install]
Alias=panel.service
WantedBy=user-graphical.target
