[Unit]
Description=Volume tray icon
Requires=panel.service
After=panel.service pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/wolumeicon -m pavucontrol

[Install]
WantedBy=user-graphical.target
