[Unit]
Description=Xfce4 Panel
Conflicts=waybar-custom.service tint2.service
PartOf=user-graphical.target
BindsTo=user-graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/xfce4-panel

[Install]
Alias=panel.service
WantedBy=user-graphical.target
