[Unit]
Description=Control mouse/keyboard from a smartphone
Wants=network-online.target
After=network-online.target

[Service]
# use a fixed URL, not secure, should only be run in a local network
ExecStart=/usr/bin/remote-touchpad -bind :8001 -secret touchpad

[Install]
WantedBy=multi-user.target
