[Unit]
Description=Change microphone LED to follow-route
BindsTo=sys-devices-pci0000:00-0000:00:1b.0-sound-card0-controlC0.device
After=sys-devices-pci0000:00-0000:00:1b.0-sound-card0-controlC0.device

[Service]
ExecStart=/bin/bash -c "echo follow-route > /sys/devices/virtual/sound/ctl-led/mic/mode"

[Install]
WantedBy=multi-user.target
